.main{
    width:70%;
    margin:0 auto;
    padding:1em;
    border-radius: 8px;
   }

 #insu{
     padding-left: 14px;
 }

 .tbinsumo {
    overflow:scroll;
    height: 750px;
  
}

@media screen and (max-width:992px){
    .main{
        width:100%;
    }

    .tbinsumo {
        overflow:scroll;
        height: 520px;  
   }
}
