
.main{
    width:70%;
    margin:0 auto;
    padding:1em;
   /* border-style: solid;
    border-width: 1px;
    border-radius: 8px;*/
    
   }

.border{
    border-style: solid;
    border-width: 1px;
  /*  border: 1px solid;*/
}


@media screen and (max-width:992px){
    .main{
        width:100%;
       /* border-style: solid;
        border-width: 1px;
        border-radius: 8px;*/ 	
    } 

}