.main{
    width:40%;
    margin:0 auto;
    padding:1em;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
   }

   .mostrarimg{
    width:90%;
    margin:0 auto;
   }


    
   .divtitulo{
    text-align: center;
    width: 100%;
    height: 5%;
    /* margin: 1px auto; */
    margin-top: 18px;
}



   .scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
   }

   #buscarpersonal{
        box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
        background-color:#fff;;
        height: auto;
        position: absolute;
        top: 86px;
        z-index: 9999;
        width: 392px;
   }


   #buscarpersonal .element-per {
    background-color: #fff;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
    text-decoration: none;
    color: black;
} 




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.contenedortxt{
    width: 45%;
    margin-left: auto;
    padding: 1em;
}


.contenerdoimg{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    }

    .contenerdortxtbuscar{
        float: left;
        width: 70%;
    
       }


    .divbtn.mx-auto{
        margin-right: inherit !important;
    }

    .divbtnmostrar {
        padding-left: 33%;
        margin-left: 12%;
    }

    .article-box {
        font-size: 16px;
        font-family: 'Roboto';
        line-height: 1.7;
    }
    .article-box img {
        max-width: 300px;
    }
    




@media screen and (max-width:992px){
    .main{
        width:100%;
        /*border-style: solid;
        border-width: 1px;
        /*border-radius: 8px; */	
    } 

    .mostrarimg{
        width:100%;
        /*border-style: solid;
        border-width: 1px;
        /*border-radius: 8px; */	
    } 


    #buscarpersonal{
        box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
        background-color:#fff;;
        height: auto;
        position: absolute;
        top: 86px;
        z-index: 9999;
        width: 77%;
   }

.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
   }

   .contenedortxt {
    width:100%;
    margin:0 auto;
    padding:1em;  
}

.divtitulo{
    text-align: center;
    width: 100%;
    height: 5%;
    /* margin: 1px auto; */
    margin-top: 18px;
}

.contenerdoimg{
    width:100%;
    margin:0 auto;
    padding:1em;
}


.article-box {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.7;
}
.article-box img {
    max-width: 300px;
}


}