:root{
    --mayuscula : uppercase;
}


#txtnroserie{
    text-transform: var(--mayuscula);
}

#txtmaterial{
    text-transform: var(--mayuscula);
}

.main{
    width:70%;
    margin:0 auto;
    padding:1em;
    border-radius: 8px;
   }

 #insu{
     padding-left: 14px;
 }

 .sugerencias {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    background-color:#fff;;
    height: auto;
    position: absolute;
    top: 322px;
    z-index: 9999;
    width: 39% !important;
    /*right: 0px;
    left: 14px;*/
    /*top: 79px;
    z-index: 9999;
    width: 93% !important;
    right: 18px;*/
    
}
.sugerenciaspersonal{
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    background-color:#fff;;
    height: auto;
    position: absolute;
    top: 79px;
    z-index: 9999;
    width: 93% !important;
    right: 18px;
}
 
.sugerenciaspersonal .suggest-element {
    background-color: #fff;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
    text-decoration: none;
    color: black;
}



.titulos{
    font-family: arial;
}

.materiales{
    padding-top: 25px;
    padding-bottom: 15px;
}

#divcontentb {
    overflow:scroll;
    /*height: 150px;  */
}

.sugerencias .suggest-element {
        background-color: #fff;
        border-top: 1px solid #d6d4d4;
        cursor: pointer;
        padding: 8px;
        width: 100%;
        float: left;
        text-decoration: none;
        color: black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
}
@media screen and (max-width:992px){
    .main{
        width:100%;
    }
    .sugerencias {
        box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
        background-color:  #fff;
        box-shadow: 3px 2px 8px 0;
        height: auto;
        position: absolute;
       /*  top: 79px;
        z-index: 9999;
       width: 93% !important;*/
        top: 323px;
        z-index: 9999;
        width: 56% !important;
        right: 0px;
        left: 14px;
        /*right: 13px;*/
    }

    .sugerenciaspersonal{
        box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
        background-color:#fff;;
        height: auto;
        position: absolute;
        top: 79px;
        z-index: 9999;
        width: 93% !important;
        right: 13px;
    }

    #divcontentb {
        overflow:scroll;
       /* height: 150px;*/
   }

}
