
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.menu_barras {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#023859;
	}

	
	.menu_barras .div-menu {
		display: block;
		padding: 20px;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.div-menu{
		width: 79px;
	}

	.bt-menu{
		color: #fff !important;
	}

	.menu_barras span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}



	header nav ul .children li:hover {
		background: rgba(6, 148, 243, 0.63);
		/*background:#E6344A;*/
	}

	header nav ul li .children ul li{
		background:#011826;
	}





	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		/*margin-left:20px;**/
		text-indent: 14px;
	}

	header nav ul li .caret {
		float: right;
	}


	

	.contenedorbs {
        width:100%;
        margin:0 auto;
        padding:1em;  
   }


 

	nav li li .dropdown-menu{
		display: none;
	}


}